<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
	<meta charset="UTF-8">
	<title>Chat Application</title>

	<!-- build:css css/vendor.min.css -->
	<link rel="stylesheet" href="libs/normalize-css/normalize.css">
	<!-- endbuild -->

	<!-- build:css css/main.min.css -->
	<link rel="stylesheet" href="css/main.css">
	<!-- endbuild -->
</head>
<body>

	<section class="chat-page" ng-controller="chatCtrl as chat">

		<div class="chat">
			<header class="chat-header">
				<h2>
					Author Name
				</h2>
				<button class="button button-green">Login</button>
			</header>

			<div class="chat-body">
				<ul>
					<li ng-repeat="message in chat.shownMessages">
						<!-- <img src="#" alt=""> -->
						<h3>Message author</h3>
						<p>
							{{ message.text }}
						</p>
					</li>
				</ul>
			</div>

			<footer class="chat-footer">
				<textarea rows="3" ng-model="chat.newMessage"></textarea>
				<button class="button button-blue" ng-click="chat.sendMessage()">Send</button>
			</footer>
		</div>

	</section>

	<!-- build:js js/vendor.min.js -->
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/firebase/firebase.js"></script>
	<script type="text/javascript" src="libs/angularfire/dist/angularfire.min.js"></script>
	<!-- endbuild -->

	<!-- build:js js/main.min.js -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/chatCtrl.js"></script>
	<script type="text/javascript" src="js/services/chatCervice.js"></script>
	<!-- endbuild -->
</body>
</html>